/* 淡入动画 */
.windowFadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

.windowFadeOut {
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}